/*Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}


body {
    margin: 0;
    background-image: url(/img/back-ground-image.jpg);
    background-attachment: fixed;
}

/*white canvas as a content wrapper*/
.border {
    background-color: white;
    border-radius: 15px;
    width: 80%;
    margin: 10%;
    opacity: 0.90;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    /*for the paragraphs on the white canvas*/
    text-align: center;
    font-size: 17px;
    word-wrap: break-word;
    width: 60%;
    transform: translateX(35%);
}

/*embeded email system*/
form {
    transition: all 3s ease-in-out;
    text-align: center;
    padding-bottom: 20px;
}

.form-style {
    width: 500px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

form .submit {
    margin-top: 1%;
    border-radius: 5px;
    background-color: white;
    width: 200px;
}

    form .submit:hover {
        background-color: rgba(251, 60, 60, 0.84);
    }
