.contact {
    right: 1%;
    position: absolute;
}
      
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
  	margin: auto;
  	margin-left:15%;
  	display: block;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active , .accordion:hover {
        background-color: #55f5ff;
    }

    .accordion:after {
        content: '\002B'; /* \002B stands for "+" sign */
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.accordion.active:after {
    content: "\2212"; /* \002B stands for "-" sign */
}


.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  	margin-left: 15%;  
}

.vertical-menu {
    width: 12%;
    height: 500px;
    position: fixed;
    left: 0px;
    top:0px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
        background-color: royalblue;
        color: white;
}